<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-sm-12 text-center">
          <h1>Glassdollar</h1>
        </div>
    </div>
    <!-- /.row -->
    <hr />
    <div class="jumbotron">
      <div class="row">
        <dir class="col-md-8">
          <h3>Developed by Camilo Sad</h3>
          <br />
          <h4>Project created as a solution for a challenge proposed during the <a href="http://www.vanhack.com/hackathon/" target="_blank">Vanhackathon</a> event.</h4>
        </dir>
        <div class="col-md-4">
          <img src="https://scontent.fsdu8-1.fna.fbcdn.net/v/t1.0-1/p160x160/15727121_1037686113002566_1636224737058986320_n.jpg?oh=bad23091e897826ec87c9e7ba4715b04&oe=59531F92" class="img-circle">
        </div>
      </div>

      <hr />
      <div class="row">
        <div class="col-lg-8">
          As the challenge description suggests, this is basically a place to read reviews of founders about their investors.
          <br />
          <br />

          In order to make things easier, the database was already set up with a couple of records.
          You can either sign up as a new user or log in using one of the following existing accounts:
          <ul>
            <li>email: founder1@email.com / pass: 123456</li>
            <li>email: investor1@email.com / pass: 123456</li>
          </ul>

          That is an initial idea and it has a lot of space for improvements.
          But if you see this as is a good start and would like to know more about my work, please feel free to contact me any time.
        </div>

        <div class="col-lg-1"></div>

        <div class="col-lg-3">
          <p>
            <ul class="list-unstyled">
              <li class="pd-bot-md pd-left-sm"><strong>sadcamilo@gmail.com</strong></li>
              <li>
                <a class="btn btn-link" href="https://github.com/camilosad" target="_blank">GitHub</a>
              </li>
              <li>
                <a class="btn btn-link" href="https://www.linkedin.com/in/camilosad/" target="_blank">LinkedIn</a>
              </li>
              <li>
                <a class="btn btn-link" href="https://bitbucket.org/camilosad/glassdollar/src" target="_blank">Source code</a>
              </li>
            </ul>
          </p>
        </div>
      </div>
    </div>


</div>
<!-- /.container -->
