<%= simple_form_for(@company) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.hidden_field :founder_id, value: current_user.id %>
    <%= f.input :name %>
    <%= f.input :investment_size %>
    <%= f.association :industry %>
    <%= f.input :location %>
    <%= f.input :stage %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
