<h1>Companies</h1>
<br />
<br />
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Industry</th>
      <th>Location</th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= link_to company.name, company %></td>
        <td><%= company.industry_name %></td>
        <td><%= company.location %></td>
      </tr>
    <% end %>
  </tbody>
</table>
