<div class="pull-right">
  <%= link_to 'Back', companies_path, class: "btn btn-default" %>
  <%= link_to 'Edit', edit_company_path(@company), class: "btn btn-default" if can_edit_company(@company) %>
</div>

<div class="pd-top-lg">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Company</h3>
    </div>

    <div class="panel-body">
      <div class="row">
        <div class="col-lg-4 col-md-4">
          <p><strong>Name: </strong><%= @company.name %></p>
        </div>
        <div class="col-lg-4 col-md-4">
          <p><strong>Founder: </strong><%= @company.founder_name %></p>
        </div>
        <div class="col-lg-4 col-md-4">
          <p><strong>Industry: </strong><%= @company.industry_name %></p>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-lg-4 col-md-4">
          <p><strong>Investment size: </strong><%= number_to_currency(@company.investment_size, unit: "$") %></p>
        </div>
        <div class="col-lg-4 col-md-4">
          <p><strong>Location: </strong><%= @company.location %></p>
        </div>
        <div class="col-lg-4 col-md-4">
          <p><strong>Stage: </strong><%= @company.stage %></p>
        </div>
      </div>

    </div>
  </div>
</div>