<div class="row">
  <hr />
  <div class="col-lg-6">
    <%= f.input :rate, as: :select, collection: rate_range, include_blank: false, class: 'form-control' %>
  </div>
  <div class="col-lg-6">
    <%= f.input :category_id, as: :select, collection: @categories, include_blank: false, class: 'form-control' %>
  </div>
  <div class="pull-right pd-right-md">
    <%= f.link_to_remove "Remove this rating", class: 'btn btn-default btn-xs' %>
  </div>
</div>