<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#review_modal">
  Review
</button>

<div id="review_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog" role="document">

    <div class="modal-content">
      <%= simple_nested_form_for review do |f| %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="gridSystemModalLabel">Review <%= review.investor_name %></h4>
        </div>

        <div class="modal-body">
          <%= f.hidden_field :founder_id, value: current_user.id %>
          <%= f.hidden_field :investor_id, value: review.investor.id %>
          <%= f.input :comment, as: :text, class: "form-control", rows: 3 %>
          <div>
            <%= f.simple_fields_for :ratings %>
          </div>
          <p><%= f.link_to_add "Add Rating", :ratings, class: "btn btn-success btn-xs" %></p>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <%= f.submit 'Submit', class: "btn btn-primary" %>
        </div>
      <% end %>
    </div><!-- /.modal-content -->

  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->