<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Latest Reviews</h3>
  </div>

  <div class="panel-body">
    <% reviews.each do |review| %>
      <div class="row">

        <div class="col-md-4">
          <p><strong><%= review.founder_name %></strong>: <%= review.comment %></p>
          <p><em><%= time_ago_in_words(review.created_at) + ' ago' %></em></p>
        </div>

        <div class="col-md-8">
          <p>
            <strong>Ratings:</strong>
            <% review.ratings.each do |rating| %>
              <span class="label label-info pd-side-sm rating-tag">
                <%= rating.category_name %>:
                <%= rating.rate %>
              </span>
            <% end %>
          </p>
        </div>

      </div>
      <hr />
    <% end %>
  </div>
</div>