<div class="row mg-bot-lg">
  <div class="col-sm-4">
    <h1>Investors</h1>
  </div>
  <div class="col-sm-8 pd-top-md">
    <form class="form-inline">
      <%= search_form_for(@query, url: "/investors", method: :get) do |f| %>
        <%= f.search_field :name_or_location_cont, placeholder: 'Search by name or location', class: "form-control search-field" %>
        <%= f.submit 'Search', class: "btn btn-default btn-sm" %>
      <% end %>
    </form>
  </div>
</div>

<table class="table table-hover">
  <tbody>
    <% @investors.each do |investor| %>
      <tr>
        <td><%= link_to image_tag(investor.avatar.url(:thumb)), investor_path(investor) %></td>

        <td>
          <div class="row investor-info">
            <%= link_to investor.name, investor_path(investor) %>
          </div>
          <div class="row">
            <%= investor.location %>
          </div>
        </td>

        <td>
          <div class="row investor-info">
            <%= investor.overall_rating %>
          </div>
          <div class="row">
            <%= reviews_text(investor.received_reviews.count) %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
