<div class="pull-right">
  <%= render 'review_form', review: @review if current_user.founder? %>
  <%= link_to 'Back', investors_path, class: "btn btn-default" %>
</div>

<div class="pd-top-lg">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Investor</h3>
    </div>

    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">
          <p class="img-circle"><%= image_tag(@investor.avatar.url(:medium)) %></p>
        </div>

        <div class="col-md-4">
          <p><strong>Name: </strong><%= @investor.name %></p>
          <p><strong>Email: </strong><%= @investor.email %></p>
          <p><strong>Location: </strong><%= @investor.location %></p>
        </div>

        <div class="col-md-4">
          <p class="investor-info"><%= @investor.overall_rating %></p>
          <p><%= reviews_text(@investor.received_reviews.count) %></p>
        </div>

      </div>
    </div>
  </div>

  <div>
    <%= render 'reviews', reviews: @investor.latest_reviews %>
  </div>
</div>