/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.pd-side-sm {
  padding-right: 10px;
  padding-left: 10px;
}

.pd-side-md {
  padding-right: 20px;
  padding-left: 20px;
}

.pd-right-md {
  padding-right: 20px;
}

.pd-left-sm {
  padding-left: 10px;
}

.pd-bot-md {
  padding-bottom: 20px;
}

.pd-top-md {
  padding-top: 20px;
}

.pd-top-lg {
  padding-top: 40px;
}

.mg-bot-md {
  margin-bottom: 20px;
}

.mg-bot-lg {
  margin-bottom: 40px;
}

.round-image-nav {
  margin-top: 5px;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  height: 40px;
  width: 40px;
  overflow: hidden;
  text-align: center;
  padding: 0px;
  img { width: 100% }
}

.bordered {
  background-color: white;
  border: 1px solid #d9d9d9;
}