// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.rating-tag {
  font-weight: normal;
  font-size: 12px;
  margin-left: 10px
}
