<% if user_signed_in? %>
  <li class="navbar-link pd-top-md pd-side-md"> <%= current_user.name %></li>
  <li>
    <div class="dropdown">
      <button class="dropdown-toggle round-image-nav bordered" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <%= image_tag(current_user.avatar.url(:thumb)) %>
      </button>

      <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
        <li><%= link_to 'My company', company_path(current_user.companies.first) if company_owner? %></li>
        <li><%= link_to 'My profile', investor_path(current_user) if current_user.investor? %></li>
        <li><%= link_to 'Edit account', edit_user_registration_path %></li>
        <li role="separator" class="divider"></li>
        <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
      </ul>
    </div>
  </li>


<% else %>
  <li class="navbar-link"><%= link_to 'Sign in', new_user_session_path %></li>
  <li class="navbar-link"><%= link_to 'Sign up', new_user_registration_path %></li>
<% end %>
